.grid {
    width: 200px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(17, 248, 17);
}

.grid div {
    width: 20px;
    height: 20px;

}

.block {
    background-color: red;
    /* border: solid 1px black; */
}

.block-in-use {
    background-color: tomato;
}