<<<<<<< HEAD:assets/css/style.css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.cell, .cell-next {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
}
#game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */

}
#grid {
    /* margin: 30px auto;
    width: fit-content; */
    padding: 10px;
    margin: 10px;
}

#next-piece {
    padding: 10px;
    margin: 10px;
}

#score-container {
    padding: 10px;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 100%;
    align-items: center;
}

.btn-game {
    width: 80px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

/* .active-piece {
    background-color: blue;
}

.taken {
    background-color: blue;
} */

.dark-blue-box {
    background-image: url("../images/dark-blue-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-box {
    background-image: url("../images/green-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-box {
    background-image: url("../images/green-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orange-box {
    background-image: url("../images/orange-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.purple-box {
    background-image: url("../images/purple-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.red-box {
    background-image: url("../images/red-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
=======
.test {
    background-color: red;
>>>>>>> parent of e136977 (Add background color, buttons style):styles.css
}